<div nz-row style="margin-bottom: 5px;">
  <div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="Tìm kiếm..." #keyword (keyup.enter)="search(keyword.value)" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="search(keyword.value)">
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="text-right">
      <button nz-button nzType="primary" (click)="addNew()">
        <i nz-icon nzType="plus" nzTheme="outline"></i> Thêm mới
      </button>
    </div>
  </div>
</div>

<p>
  <nz-table #basicTable nzBordered nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData"
    [nzTotal]="pagination.totalItems" [(nzPageIndex)]="pagination.currentPage" [(nzPageSize)]="pagination.itemsPerPage"
    [nzNoResult]="'Không có dữ liệu.'" (nzPageIndexChange)="loadData()" nzShowQuickJumper [nzShowTotal]="rangeTemplate"
    nzSize="middle">
    <ng-template #rangeTemplate let-range="range" let-total>
      {{range[0]}}-{{range[1]}} của {{total}} bản ghi
    </ng-template>
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th style="width: 250px;" nzShowSort nzSortKey="id" nzCustomFilter>Mã đơn vị tính</th>
        <th style="width: 300px" nzShowSort nzSortKey="name" nzCustomFilter>Tên đơn vị tính
          <i nz-th-extra class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown1="nzDropdown" nzType="search"
            [nzDropdownMenu]="menu1" [class.ant-table-filter-open]="dropdown1.nzVisible" nzTrigger="click"
            nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <div class="search-box">
              <input type="text" nz-input placeholder="Tìm tên đơn vị tính" [(ngModel)]="pagingParams.searchValue"
                (keyup.enter)="searchColumn('name')" />
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                (click)="searchColumn('name')" class="search-button">
                Tìm
              </button>
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown-menu>
        </th>
        <th>Đặc tả</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.des }}</td>
        <td class="decrease-row">
          <nz-button-group>
            <button nz-button nzType="default" nz-tooltip nzTitle="Sửa" (click)="update(data)">
              <i nz-icon nzType="edit" theme="outline"></i>
            </button>
            <button nz-button nzType="danger" nz-tooltip nzTitle="Xóa" (click)="delete(data.id)">
              <i nz-icon nzType="delete" theme="outline"></i>
            </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>
</p>