<form nz-form [formGroup]="customerForm" autocomplete="off">
    <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="name">Khách hàng</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Vui lòng nhập khách hàng!">
            <input type="text" nz-input formControlName="name" id="name" autofocus />
        </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="name">Địa chỉ</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Vui lòng nhập địa chỉ!">
          <input type="text" nz-input formControlName="diachi" id="diachi" autofocus />
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="name">Số điện thoại</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Vui lòng nhập số điện thoại!">
          <input type="text" nz-input formControlName="sdt" id="sdt" autofocus />
        </nz-form-control>
      </nz-form-item>
</form>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal()">
        <i nz-icon nzType="close" nzTheme="outline"></i>Hủy
    </button>
    <button nz-button nzType="primary" (click)="saveChanges()" [nzLoading]="loadingSaveChanges">
        <i nz-icon nzType="save" nzTheme="outline"></i>Lưu
    </button>
</div>